.primary-btn{
    background:var(--primary);
    color:white;
    border:none;
    padding:12px 24px;
    border-radius:10px;
    transition:.25s;
}

.primary-btn:hover{
    background:var(--primary-dark);
}

.success-btn{
    background:var(--success);
    color:white;
    border:none;
    padding:12px 24px;
    border-radius:10px;
}

.danger-btn{
    background:var(--danger);
    color:white;
    border:none;
    padding:12px 24px;
    border-radius:10px;
}

.outline-btn{
    background:white;
    border:1px solid var(--border);
    padding:12px 24px;
    border-radius:10px;
}